body {
    background-color: #bccf7a;
    font-family: Arial, sans-serif;
}
.payment-form {
    max-width: 1000px;
    margin: 50px auto;
    background: #d6d1d1;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
.payment-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
.btn-primary {
    background-color: #ff6b6b;
    border: none;
}
.btn-primary:hover {
    background-color: #ff4757;
}
    